/* ********************************************* */
/* BELOW 1240px (Landscape Tablets) */
/* ********************************************* */
@media (max-width: 78em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    padding: 9.6rem 2rem;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .heading-terciary {
    font-size: 2.4rem;
  }
}

/* ********************************************* */
/* BELOW 860px (Tablets) */
/* ********************************************* */
@media (max-width: 53em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .heading-primary,
  .heading-secondary,
  .heading-terciary {
    max-width: 500px;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .items-container {
    grid-template-columns: 1fr;
  }

  .items-list {
    justify-self: center;
    max-width: 290px;
  }

  .services .btn {
    margin-top: 15rem;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 8rem;
    align-items: center;
  }

  .contact-box {
    border-top: 1px solid var(--gray-light);
    padding-top: 4rem;
  }
}

/* ********************************************* */
/* BELOW 544px (Smartphones) */
/* ********************************************* */
@media (max-width: 34em) {
  .house {
    transform: scale(0.8);
  }

  .cards {
    gap: 2.4rem;
  }

  .card {
    padding: 2rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 8rem;
    overflow: hidden;
    width: 180px;
    height: 200px;
  }

  .bancos {
    justify-content: center;
    gap: 1rem;
  }

  .items-list {
    height: 350px;
  }

  .contact-form {
    width: 400px;
  }
}

/* ********************************************* */
/* BELOW 420px (Smartphones) */
/* ********************************************* */
@media (max-width: 29em) {
  .house {
    transform: scale(0.7);
  }

  .cards {
    flex-direction: column;
  }

  .items-list {
    padding: 1rem;
    width: 260px;
    height: 320px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form input {
    width: 100%;
  }
}
